name: build_and_test

defaults:
  run:
    shell: bash

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: '0 13 * * 4'
  release:
    types: [published]

jobs:
  debug_build_ok:
    runs-on: ubuntu-latest

    steps:
       - uses: actions/checkout@v4
         with:
            submodules: recursive
            fetch-depth: 0
         
       - run: cmake -S $GITHUB_WORKSPACE -B $GITHUB_WORKSPACE/build/
       - run: cmake --build $GITHUB_WORKSPACE/build/

  build_and_test:
    needs: [debug_build_ok]
    name: Build and test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, windows-latest, macos-latest, macos-13]

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive
          fetch-depth: 0
      
      - name: Configure CMake
        run: cmake -S $GITHUB_WORKSPACE -B $GITHUB_WORKSPACE/build/ -DBUILD_TESTS=1
      
      - name: Build library
        run: cmake --build $GITHUB_WORKSPACE/build/
      
      - name: Run tests
        run: ctest --test-dir $GITHUB_WORKSPACE/build/ --output-on-failure